# IDEA
.idea
*.ipr
*.iws
*.iml

stats.html

# Eclipse
.classpath
.project
.settings

# typescript
.tscache/
src/main/typescript/tmp/
src/main/typescript/.baseDir.ts
typings/
node_modules/
coverage/
!coverage/lcov.info
*.jsx

build
dist/
lib/
js/

#exclude vendor folder
.code
.idea
.scannerwork/
node_modules/
node_modules_bak/
coverage.out

# vscode
.vscode/

# unignore project folder in terragrunt path
!**/ps-whoami-web/

# terragrunt-cache
.terragrunt-cache

# terraform
.terraform/
terraform.tfstate*

.cache
.DS_Store

# special files
stats.json
